 <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!-- Changed this https://stackoverflow.com/questions/30080810/el-expressions-not-evaluated-in-jsp -->
<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<web-app>
	<!-- xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
		https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0"> -->
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<display-name>LogoutController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<display-name>UserController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.UserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseController</servlet-name>
		<display-name>CourseController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.CourseController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SystemController</servlet-name>
		<display-name>SystemController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.SystemController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HODController</servlet-name>
		<display-name>HODController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.HODController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentController</servlet-name>
		<display-name>StudentController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.StudentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InstructorController</servlet-name>
		<display-name>InstructorController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.InstructorController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuizController</servlet-name>
		<display-name>QuizController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.QuizController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignmentController</servlet-name>
		<display-name>AssignmentController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.AssignmentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentQuizController</servlet-name>
		<display-name>StudentQuizController</display-name>
		<description></description>
		<servlet-class>com.mavenbro.web.StudentQuizController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/loginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logoutController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseController</servlet-name>
		<url-pattern>/CourseController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemController</servlet-name>
		<url-pattern>/SystemController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HODController</servlet-name>
		<url-pattern>/HODController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/StudentController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstructorController</servlet-name>
		<url-pattern>/InstructorController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuizController</servlet-name>
		<url-pattern>/QuizController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignmentController</servlet-name>
		<url-pattern>/AssignmentController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentQuizController</servlet-name>
		<url-pattern>/StudentQuizController</url-pattern>
	</servlet-mapping>
</web-app>